@model Language
<div class="card shadow border-primary nt-4">
    <div class="card-header bg-primary bg-gradient">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Language</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
                <div asp-validation-summary="All"></div> <!-- another option for asp-v-s ModelView-->
                <div class="mb-3 row p-1">
                    <label asp-for="Name" class="p-1"></label>
                    <input asp-for="Name" disabled class="form-control" />

                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="DisplayOrder" class="p-1"></label>
                    <input asp-for="DisplayOrder" disabled class="form-control" />

                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control border">Delete Language</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Language" asp-action="Index" class="btn btn-secondary form-control border">
                            Back to list
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>


